
/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Typography */
html {
  font-size: 16px;
}

body {
  font-family: 'Source Code Pro', monospace;
  background-color: #F6F6F6;

}

h2 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.75rem;
  text-align: center;
  color: #282828;
}

h3 {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.9rem;
}

h4 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.9rem;
  text-align: center;
  color: #FFFFFF;
}

p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #282828;
}

label {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #282828;
}

input {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #282828;
 }

.charset--label{
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #282828;
}

/* Components */

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  gap: 4rem;
}

.app-wrapper {
  margin: 0 auto;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.output {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;
  height: 3.5rem;
}

.output--field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .75rem 0 .75rem 1.5rem;
  background: #FFFFFF;
  border: 1px solid #282828;
  box-shadow: 6px 6px 0px #000000;
  width: 66%;
  height: 100%; 
}

.output--copy {
  background-image: url(/src/assets/copy.png);
  background-size: contain;
  width: 1.5rem;
  height: 1.5rem;
  color: #282828;
  margin-right: 1.5rem;
  cursor: pointer;
}

.output--button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  gap: 8px;
  width: 26%;
  height: 100%;
  background: #383838;
  border: 1px solid #383838;
  cursor: pointer;
}

.complexity {
  display: flex;
  flex-direction: column;
  gap: .5rem
}

.input {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  height: 2rem;
  gap: 1.25rem;
}

.input--number {
  width: 7%;
  height: 100%;
  padding-left: .75rem;
}

.input--slider {
  width: 60%
}

.charset {
  display: flex;
  gap: 1.25rem;
}

.charset--checkbox-container {
  display: flex;
  gap: .25rem;
}

.checkbox {
  margin-left: 4rem;
  background-color: #000000;
}

/* Password length background color feedback */


/* Crazy CSS rules */

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* RANGE INPUT */

input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 61%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #282828;
  background: #282828;
  border-radius: 50px;
  border: 0px solid #282828;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 1px #000000;
  border: 0px solid ;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: #282828;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #282828;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #282828;
  background: #282828;
  border-radius: 50px;
  border: 0px solid #282828;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 1px #000000;
  border: 0px solid ;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: #282828;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: rgba(40,40,40,0.2);
  border: 0px solid #282828;
  border-radius: 100px;
  box-shadow: 0px 0px 0px #282828;
}
input[type=range]::-ms-fill-upper {
  background: rgba(40,40,40,0.2);
  border: 0px solid rgba(40,40,40,0.2);
  border-radius: 100px;
  box-shadow: 0px 0px 0px rgba(40,40,40,0.2);
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 1px #000000;
  border: 0px solid ;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: #282828;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #282828;
}
input[type=range]:focus::-ms-fill-upper {
  background: #282828;
}


/* CHECKBOX INPUT */

input[type=checkbox] {
  background: #f1f5f9;
  transition: background 250ms;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #94a3b8;
  accent-color: #282828
}
